<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
     alt=""
     height="200px">
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi porro mollitia temporibus laudantium iure nobis, culpa itaque id officia a. Maxime repellendus ipsum culpa repellat ad eveniet quia? Repellendus, hic!</p>
  </div>
</div>
